<h3><%= @user.name %> <%= link_to '[&times;]', '#', :class => 'close-info-box' %></h3>

<p>User ID: <%= @user.id %></p>
<p>Type: <%= @user.role.zero?? 'ADVERTISER' : 'PUBLISHER' %></p>
<p>Location: (<%= @user.latitude %>, <%= @user.longitude %>)</p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br />
  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br />
  Ut enim ad minim veniam, quis nostrud exercitation.
</p>